// Place all the styles related to the admins/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin_content{
	padding: 2%;
	background-color: white;
	width: 96%;
	margin: 2%;
	min-height: 500px;
}