<div class="background clearfix">

	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class=content>
		<h2>Follower</h2>
		<%= render 'lincoln_riders/users/users_index',users: @user.followed_users %>
	</div>
</div>