<div class="background clearfix">
	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class="bar">
		<%= link_to lincoln_riders_user_mypage_posts_path do%>
			<div class="bar_link">
				<i class="fas fa-motorcycle bar_icon"></i>
			</div>
		<%end%>
		<%= link_to lincoln_riders_user_mypage_fav_posts_path(@user) do%>
			<dvi class="bar_link">
				<i class="fas fa-heart bar_icon"></i>
			</dvi>
		<%end%>
	</div>
	<div class="content clearfix">

		<div class="posts_index">
			<h2>Mypage Posts</h2>
			<%= render 'lincoln_riders/posts/posts_index',posts: @posts %>
		</div>


	</div>

</div>