
<div class="background clearfix">
	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class="bar">
		<%= link_to lincoln_riders_user_mypage_mapped_images_path do%>
			<div class="bar_link">
				<i class="fas fa-motorcycle bar_icon"></i>
			</div>
		<%end%>
		<%= link_to lincoln_riders_user_mypage_fav_mapped_images_path(@user) do%>
			<dvi class="bar_link">
				<i class="fas fa-heart bar_icon"></i>
			</dvi>
		<%end%>
	</div>
	<div class="content clearfix">
		<h2>Mypage Favorite Mapped Images</h2>
		<div class="map">
			<!-- 地図を表示させる要素 -->
			<div class="map_box01" style="width: 100%;height: 350px;"><div id="map-canvas" style="width: 100%;height: 100%;"></div></div>
			<form onsubmit="return false;">
				<input type="text" id="address" value="大阪">
				<button type="button" value="検索" id="map_button">検索</button>
			</form>
		</div>
    	<%= render 'lincoln_riders/mapped_images/mapped_image_index',mapped_images: @fav_mapped_images %>
	</div>

</div>


<script>

  SetMap.ForRead();

</script>