<div class="mapped_image_position">
	<%= hidden_field_tag "mapped_image_id","#{mapped_image.id}", {id: "mapped_image_id_#{i}"} %>
	<%= hidden_field_tag "mapped_image_position","#{mapped_image.position_lat}", {id: "mapped_image_position_lat_#{i}"} %>
	<%= hidden_field_tag "mapped_image_position","#{mapped_image.position_lng}", {id: "mapped_image_position_lng_#{i}"} %>
</div>