<div class="mapped_images_index">
	<%= render 'lincoln_riders/mapped_images/mapped_images_each',mapped_images: mapped_images %>
	<div class="paginate">
		<%= paginate mapped_images %>
	</div>


</div>