

<div class="mapped_image_positions">
  <% i = 0 %>
  <%@mapped_images.each do |mapped_image| %>
    <div class="mapped_image_position">
      <%= hidden_field_tag "mapped_image_id","#{mapped_image.id}", {id: "mapped_image_id_#{i}"} %>
      <%= hidden_field_tag "mapped_image_position","#{mapped_image.position_lat}", {id: "mapped_image_position_lat_#{i}"} %>
      <%= hidden_field_tag "mapped_image_position","#{mapped_image.position_lng}", {id: "mapped_image_position_lng_#{i}"} %>
    </div>
    <% i += 1 %>
  <% end %>
</div>


<p>住所や駅名、目印などで検索できます。</p>
<form onsubmit="return false;">
  <input type="text" id="address" value="大阪">
  <button type="button" value="検索" id="map_button">検索</button>
</form>
<!-- 地図を表示させる要素 -->
<div class="map_box01"><div id="map-canvas" style="width: 500px;height: 350px;"></div></div>



<div class="showing_page"></div>

<!-- APIを取得 -->

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=<%=ENV['KEY']%>"></script>


<script>

var MappedImage_table_path = "0602aaacf9911229346f65cca93a896e1c656627"
var getMap = (function() {
  function codeAddress(mapped_image_id,mapped_image_positions,address,mapped_image_position_size) {
    // google.maps.Geocoder()コンストラクタのインスタンスを生成
    var geocoder = new google.maps.Geocoder();

    // 地図表示に関するオプション
    var mapOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    // 地図を表示させるインスタンスを生成
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    //マーカー変数用意
    var marker = Array(mapped_image_positions.length);
    var infoWindow = Array(mapped_image_positions.length);
    var showing_mapped_image_id = Array(mapped_image_positions.length);

      for (var i = 0; i < mapped_image_position_size; i++) {

        // マーカー設定
        marker[i] = new google.maps.Marker({
          map: map,
          position: mapped_image_positions[i] //results[0].geometry.location = (lat,lng)
        });

        infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
        content: "お待ちください"    // 吹き出しに表示する内容
        });


        markerEvent(i);

      }

  function markerEvent(i) {
    marker[i].addListener('click', function() { // マーカーをクリックしたとき

            $.ajax({
              url: "mapped_images/get_window_content",
              type: "GET",
              data: { showing_mapped_image_id : mapped_image_id[i]
                      },
              dataType: "json",
              success: function(data) {
                console.log("成功");
                infoWindow[i].setContent( '<div>'+data.text+'</div>'+
                                          '<img class="attachment mapped_image image" src="'+data.image_id+'">' ) ;
                infoWindow[i].open(map, marker[i]); // 吹き出しの表示
              },
              error: function(){
                console.log('失敗');
              },
            })

      });
  }

    geocoder.geocode( { 'address': address}, function(results, status) {

      // ジオコーディングが成功した場合
      if (status == google.maps.GeocoderStatus.OK) {

        // 変換した緯度・経度情報を地図の中心に表示
        map.setCenter(results[0].geometry.location);

      // ジオコーディングが成功しなかった場合
      } else {
        console.log('Geocode was not successful for the following reason: ' + status);
      }

    });

    // マップをクリックで位置変更
    map.addListener('click', function(e) {
      getClickLatLng(e.latLng, map);
    });
    function getClickLatLng(lat_lng, map) {

      // 座標の中心をずらす
      map.panTo(lat_lng);
    }

  }

  //inputのvalueで検索して地図を表示
  return {
    getAddress: function() {
      // ボタンに指定したid要素を取得
      var button = document.getElementById("map_button");

      // ボタンが押された時の処理
      button.onclick = function() {
        var mapped_image_position_size = $(".mapped_image_position").length;
        var mapped_image_positions = new Array(mapped_image_position_size)
        for (var i = 0; i < mapped_image_position_size; i++) {
          // フォームに入力された住所情報を取得
          var lat_string = document.getElementById("mapped_image_position_lat_"+i).value;
          var lng_string = document.getElementById("mapped_image_position_lng_"+i).value;
          mapped_image_positions[i] = {
            lat: Number(lat_string), // 緯度
            lng: Number(lng_string) // 経度
          };
        }
        var address = document.getElementById("address").value;
        // 取得した住所を引数に指定してcodeAddress()関数を実行
        codeAddress(mapped_image_positions,address,mapped_image_position_size);
      }

      //読み込まれたときに地図を表示
      window.onload = function(){
        var mapped_image_position_size = $(".mapped_image_position").length;
        var mapped_image_positions = new Array(mapped_image_position_size)
        var mapped_image_id = new Array(mapped_image_position_size)
        for (var i = 0; i < mapped_image_position_size; i++) {
          // フォームに入力された住所情報を取得
          var id_string = document.getElementById("mapped_image_id_"+i).value;
          var lat_string = document.getElementById("mapped_image_position_lat_"+i).value;
          var lng_string = document.getElementById("mapped_image_position_lng_"+i).value;
          mapped_image_positions[i] = {
            lat: Number(lat_string), // 緯度
            lng: Number(lng_string) // 経度
          };
          mapped_image_id[i] = Number(id_string);
        }
        var address = document.getElementById("address").value;
        // 取得した住所を引数に指定してcodeAddress()関数を実行
        codeAddress(mapped_image_id,mapped_image_positions,address,mapped_image_position_size);
      }
    }

  };

})();



getMap.getAddress();

$(document).on('ajax:success', 'img', function(e) {
  console.log(e);
  $('.showing_page').html("aaaaa");
  console.log("hello");
})


</script>