<div class="background clearfix">

	<%= render 'layouts/sidebar',new_post: @new_post %>
	<div class=content>
		<h3>Post</h3>
		<%= render 'lincoln_riders/posts/posts_index',posts: @posts %>
		</div>
	</div>
</div>