/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



*{
	margin: 0;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header{
	background-color: black;
	height: 73px;/* = header_title heght */
	width: 100%;
	position: fixed;
	top:0px;
	left: 0px;
	z-index: 30;
}
.header_title{
	font-family:fantasy;
	padding: 5px;
	color: white;
	margin-left: 10px;
}
nav{
 	width: 100%;
 	height: 50%;
 }
.nav_left{
	float: left;
}
nav ul{
	margin-bottom:0px;
}
.nav_right{
	float: right;
	height: 100%;
	padding-right: 10px;
}
.nav_item{
	width: 100%;
	line-height: 50px;/* =header height */
	padding: 0 15px 0 15px;
	color: rgb(157,157,157);
	border-bottom-style: solid;
	border-bottom-color: darkslategray;
	list-style-type: none;
	text-align: center;
	height: 50px;
}

.main{
	min-height: 700px;
	width: 100%;
	position: relative;
	opacity: 0.95;
	top: 73px;
	left: 0px;
}
.background{
	background-image: url(/images/background.jpg);
	background-size: 100%;
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.text_title{
	font-weight: bold;
}
.page_title{
	margin-bottom: 20px;
	border-bottom: solid;
	padding-bottom: 10px;
}
.content_field{
	padding: 2%;
	background-color: white;
	width: 96%;
	margin: 2%;
	min-height: 800px;
}


.sidebar{
	background-color: white;
	float: left;
	width: 26%;
	padding: 2%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.95;
}
.users_info .edit{
	text-align: right;
}

.bar{
	float: right;
	height:  50px;
	width: 74%;
	background-color: orange;
}

.bar_link{
	height:  50px;
	width: 50%;
	float: left;
	text-align: center;
}

.bar_icon{
	line-height: 50px;
	height:  50px;
}
.content{
	padding: 2%;
	background-color: white;
	float: right;
	width: 70%;
	margin: 2%;
	min-height:700px;
	opacity: 0.95;

}
.content_background{
	background-color: lightgray;
	padding: 2%;
	width: 70%;
}


footer{
	background-color: black;
	height: 79px;
	width: 100%;
	opacity: 0.95;
	position: relative;
	bottom: -73px;
}
.footer_copyright{
	font-family:fantasy;
	color: white;
}

.footer_text_field{
	width: 90%;
	text-align: right;
	padding-top: 38px;
	height: 79px;
}

.pagination{
	text-align: center;
}


.admin_content{
	padding: 2%;
	background-color: white;
	width: 96%;
	margin: 2%;
	min-height: 700px;
}
.menu_bar{
	width: 100%;
	background-color: black;
	z-index: 30;
	display: none;
	opacity: 0.9;
}
.menu_icon{
	height: 73px;/* = header_title heght */
	width: 73px;
	font-size: 40px;
	text-align: center;
	padding: 19px;
	color:white;
	top: 0;
	right: 0;
}
#menu_icon_open{
	display: block;
	width: 100%;
}
#menu_icon_close{
	display: none;
	width: 0%;
}

.mypage_create_field{
	display: none;
	border: solid 1px;
	padding: 10px;
	border-radius: 5px;
}
@media screen and (max-width: 1023px) {

	.post_field{
		width: 100%;
	}
	.map{
		float: none;
		width: 100%;
	}
	.mapped_images_index{
		float: none;
		width: 100%;
	}
	.sidebar{
		display: none;
	}
	.content{
		width: 96%;
	}
	.bar{
		width: 100%;
	}
	.mypage_create_field{
		display: block;
	}
}
