/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";



*{
	margin: 0;
}
.map{
	float: left;
	width: 64%;
}
.mapped_images_index{
	float: right;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header{
	background-color: black;
	height: 80px;/* = header_title heght */
	width: 100%;
}
.header_title{
	font-family:fantasy;
	padding: 5px;
	color: white;
	margin-left: 10px;
}
nav{
 	width: 100%;
 	height: 50%;
 }
.nav_left{
	float: left;
}
.nav_right{
	float: right;
	height: 100%;
	padding-right: 10px;
}
.nav_item{
	list-style-type: none;
	float:right;
	line-height: 40px;/* =header height */
	padding: 0 15px 0 15px;
	color: rgb(157,157,157);
}


.main{
	min-height: 700px;
	width: 100%;
	position: relative;
	opacity: 0.95;

}
body{
	background-image: url(/images/background.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size:contain;
}
.background_color{
	background-color: #496887;
	background: linear-gradient(to bottom, #496887 50% , transparent);
}
.background{
}
.text_title{
	font-weight: bold;
}
.page_title{
	margin-bottom: 20px;
	border-bottom: solid;
	padding-bottom: 10px;
}
.content_field{
	padding: 2%;
	background-color: white;
	width: 96%;
	margin: 2%;
	min-height: 800px;
}


.sidebar{
	background-color: white;
	float: left;
	width: 26%;
	padding: 2%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.95;
}
.users-info .edit{
	text-align: right;
}

.bar{
	float: right;
	height:  50px;
	width: 74%;
	background-color: orange;
}


.bar_link{
	height:  50px;
	width: 50%;
	float: left;
	text-align: center;
}


.bar_icon{
	line-height: 50px;
	height:  50px;
}
.content{
	padding: 2%;
	background-color: white;
	float: right;
	width: 70%;
	margin: 2%;
	min-height:700px;
	opacity: 0.95;

}
.content_background{
	background-color: lightgray;
	padding: 2%;
	width: 70%;
}


footer{
	background-color: black;
	height: 79px;
	width: 100%;
	opacity: 0.95;
}
.footer_copyright{
	font-family:fantasy;
	color: white;
}

.footer-text-field{
	width: 90%;
	text-align: right;
	padding-top: 38px;
}

.pagination{
	text-align: center;
}
