// Place all the styles related to the mappedimages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mapped_image{
	/*width: 40%;*/
}

.showing_page{
	height: 100px;
	width: 100%;
}

.mapped_image_index{
	height: 20%;
	float: left;
	width: 32%;
}

.mapped_image_info{
	float: right;
	width: 64%;
}

.show_mapped_image{
	width: 64%;
}

.mapped_image_text{
	float: right;
    text-align: left;
    width: 32%;
}

.mapped_images_index{
	float: right;
	width: 50%;
}

.mapped_image_field{
	background-color: white;
}


.links #mapped_images_fav{
	width: 20%;
	float:left;
	margin-left: 2%;
	text-align: center;
}

.infowindow{
	width: 258px;
	height: 146px;
}

.infowindow .mapped_image{
	width: 50%;
	height: 100%;
}

.infowindow .mapped_image_text{
	float: right;
	width: 50%;
}