// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts_index{
	float: left;
	width: 100%;
}

.post_user{
	float: left;
	color: black;
}
.link_black{
	color: black;
}
.post_date{
	float: right;
}

.post_field{
	border: solid 1px;
	padding: 10px;
	width: 600px;
	margin: 5px auto;
	border-radius: 5px;
}

.post_text{
	padding: 10px 10px 0px 10px;
	color: black;
}

.post_images{
	width: 100%;
}

.post_image{
	max-width: 90px;
	max-height: 100px
}

.post_titile{
	border-bottom: solid;
	margin-bottom: 20px;
}

.links{
	border-top: solid;
	margin-top: 20px;

}

.show_post_image{
	width: 100%;
}


.links #post_fav{
	width: 20%;
	float:left;
	margin-left: 2%;
	text-align: center;
}

.links .edit{
	width: 20%;
	float:right;
	text-align: center;
}

.links .delete{
	width: 20%;
	float:right;
	margin-right: 2%;
	text-align: center;
}