<div class="sidebar">
	<div class="links">
		<h3 class="links__title">Links</h3>
		<%= link_to admins_users_path do%>
			<h4 class="links__item">Users</h4>
		<%end%>
		<%= link_to admins_posts_path do%>
			<h4 class="links__item">Posts</h4>
		<%end%>
		<%= link_to admins_mapped_images_path do%>
			<h4 class="links__item">MappedImages</h4>
		<%end%>
		<%= link_to destroy_admin_session_path, method: :delete do%>
			<h4 class="links__item">Logout</h4>
		<%end%>
	</div>
</div>