<div class="bar">
	<%= link_to bike_path do%>
		<div class="bar_link">
			<i class="fas fa-motorcycle bar_icon"></i>
		</div>
	<%end%>
	<%= link_to heart_path do%>
		<dvi class="bar_link">
			<i class="fas fa-heart bar_icon"></i>
		</dvi>
	<%end%>
</div>